# file extensions
*.gdoc
*.ipch
*.suo
*.db
*.opendb
tasks.json
*.obj
*.exe
*.ilk
*.pdb
*.idb
*.tlog
*.log
*.lastbuildstate

# C++ folder
Code/C++/.vs/
Code/C++/.vscode/
Code/C++/Debug/
Code/C++/x64/
Code/C++/.vs/SSAFY-PC-Code/v15/.suo
Code/C++/.vs/SSAFY-PC-Code/v16/.suo
Code/C++/.vs/SSAFY-PC-Code/v15/Browse.VC.db
Code/C++/SSAFY-PC-Code/x64/Debug/SSAFY-PC-Code.log
Code/C++/SSAFY-PC-Code/x64/Debug/SSAFY-PC-Code.tlog/link.read.1.tlog
Code/C++/SSAFY-PC-Code/x64/Debug/SSAFY-PC-Code.tlog/link.write.1.tlog
Code/C++/SSAFY-PC-Code/x64/Debug/SSAFY-PC-Code.tlog/SSAFY-PC-Code.lastbuildstate
Code/C++/SSAFY-PC-Code/x64/Debug/vc141.idb
Code/C++/x64/Debug/SSAFY-PC-Code.exe
Code/C++/x64/Debug/SSAFY-PC-Code.ilk
Code/C++/x64/Debug/SSAFY-PC-Code.pdb
